<div class="row">
    <div class="col-md-12">
        <h2>Department Name: {{department.departmentName}}</h2>
        <hr />
        
        <form method="post" action="/departments/update">
            <input type="hidden" name="DepartmentId" value="{{department.DepartmentId}}" />       
            <fieldset>
                <legend>Department Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departmentName">Department Name:</label>
                            <input type="text", name ="departmentName", label ="Department Name" value="{{data.departmentName}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" />
            <br />
            <br />
            <br />

        </form>

        {{#unless employee}}
        <strong>{{message}}</strong>
        {{/unless}}
        </div>
    </div>
</div>